/* CSS document */
@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700);
@font-face {
	font-family:'CenturyGothic-Regular';
	src: url('../fonts/CenturyGothic_gdi.eot');
	src: url('../fonts/CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}
@font-face {
	font-family:'CenturyGothic-Bold';
	src: url('../fonts/CenturyGothic-Bold_gdi.eot');
	src: url('../fonts/CenturyGothic-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Bold_gdi.svg#CenturyGothic-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}
body{font-family: 'CenturyGothic-Regular', sans-serif;}
.header-block{
	background-color: #fff;
	padding: 20px 0;
	padding-bottom: 0;
}
.cart-header {text-align: right; margin-top: 20px;}
.f-left .fa {
    color: #0E0E0E;
    font-size: 15px;
    padding-right: 2px;
    vertical-align: middle;
    line-height: 36px
}
.f-left span {
    color: #0E0E0E;
    margin-right: 19px;
    font-size: 13px;
}
.form-control:focus {
	box-shadow: none;
	    border-color: #ccc;
}
.form-control {
	box-shadow: none;
}
.cart .form-control{
	border-radius: 10px;
	/*border-right:0;*/
}
.h-collection ul li a:hover {
    color: #ECDDC8;
}
.menu .navbar-default {
	background: none;
	border: none;
}
.menu .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background: none;
	color: #643496;
}
.menu .navbar-default .navbar-nav > li > a:hover {color: #643496;}
.menu .navbar-default .navbar-nav > li > a {
    color: #0E0E0E;
    text-transform: uppercase;
    font-size: 16px;
}
.menu .navbar {margin-bottom: 5px;}
.menu .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.menu{float: right;}

/* flex slider */
.slider_container{ width:100%; margin:auto; clear:both; /*background:url(../images/shadow_top.png) no-repeat top center*/}
.flex-caption{ position: absolute;top: 25%;left: 10%;}
.caption_title_line{ width:450px; height:75px; padding:5px 15px 10px 15px;/*background:url(../images/slider_caption_bg.png) repeat;*/color: #303030;}
.flex-caption h2{ color:#622b9a;font-size:28px; padding:5px 0 5px 0; font-weight: bold;
	margin:0px;font-family: 'Philosopher', serif;}
.flex-caption p{color: #6f6f6f; font-family: 'Philosopher', sans-serif;    font-size: 18px;
    padding-top: 6px;}
.flex-caption span a{color: #000;text-decoration:underline; font-family: 'CenturyGothic-Regular';padding-bottom: 3px;margin-bottom: 15px;    font-weight: bold;
    font-size: 13px;}
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.flex-caption .btn-default {
    color: #fff;
    background-color: #663697;
    border-color: #663697;
    margin-top: 36px;
    font-family: 'CenturyGothic-Bold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0;
    border: 8px solid #fff;
    padding: 8px 31px;
}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0 0 30px 0;/*background:url(../images/shadow_bottom.png) no-repeat center bottom;*/}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;min-width:100%; /*border:10px #ededed solid;*/}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../images/next.png) no-repeat center; bottom:184px;}
.flex-direction-nav li a.prev {background:url(../images/prev.png) no-repeat center;bottom:141px;}
.flex-direction-nav li a.next:hover {background:url(../images/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(../images/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/* Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
.slider_container{ width:100%; clear:both; background:none; padding:30px 0 0 0;}
.flexslider {width: 100%; margin: 0; padding:0 0 30px 0;background:none;}
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../images/next.png) no-repeat center; bottom:85px;}
.flex-direction-nav li a.prev {background:url(../images/prev.png) no-repeat center;bottom:40px;}
.flex-caption { display:none;}
}
ul.flex-direction-nav {
    top: 67%;
    position: absolute;
    left: 50%;
    z-index: 10000;
    display: block;
}
.flex-caption {
    position: absolute;
    top: 25%;
    left: 10%;
}
/* flex slider */
.h-collection ul li{
	position: relative;
}
.h-collection span{
	position: absolute;
    width: 165px;
    right: 20px;
    top: 38px;
}
.h-collection ul li a{
color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'CenturyGothic-Bold', serif;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}
.h-collection .list-inline > li {
	padding-right: 1px;
    padding-left: 2px;
}
.j-collection h2{
	color: #2b0551;
	font-family: 'Philosopher', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.new-collection {
    margin: 7px 0;
}
.jewellery-collection {
    margin: 40px 0;
}

.carousel-inner .active.left { 
  left: -25%; 
}
.carousel-inner .next { 
  left:  25%; 
}
.carousel-control { 
  width:  4%; 
}
.carousel-control.left,.carousel-control.right {
  margin-left:15px; 
  background-image:none;
}
.bor{
	/* border: 1px solid #ccc;
    border-radius: 10px;*/
}
.ring {
       padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
.j-collection hr{
	    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid #BFBFBF;
}
.ring h4{margin-bottom: 3px;}
.ring h4 a{
	color: #000;
	font-family: 'Philosopher', sans-serif;
	font-size: 18px;
}
.ring span{
	font-family: 'Philosopher', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #2b0551;
}
a:hover{text-decoration: none;}
.j-collection .carousel{
	padding: 50px 0;
}
.j-collection .carousel-control.left{
	margin-left: 45%;
}
.j-collection .carousel-control.right{margin-right: 45%;}
.j-collection .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
top: 0;
    font-size: 18px;
    background: none;
    color: #C5C5C5;
    font-weight: 100;
    border: 1px solid #C5C5C5;
    text-align: center;
    margin: 0 auto;
    line-height: 24px;
}
.j-collection .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right:hover {
	background-color: #2b0551;
}	
.carousel-control {text-shadow:none;opacity: 1;}
.footer-block{
	background-color: #976bc0;
	color: #fff;
	padding: 15px 0;
	border-bottom: 1px solid rgba(195, 195, 195, 0.37);
	padding-bottom: 8px;
}
.footer-block ul li{
	color: #fff;
	font-family: 'CenturyGothic-Regular';
	line-height: 11px;
    font-size: 12px;
    border-right: 1px solid #fff;
    padding-right: 12px;
}
.footer-block ul li:last-child{border-right: 0;}
.footer-block ul li a{color: #fff;}
.footer-bottom{	background-color: #976bc0;
	color: #fff;
	padding: 15px 0;}
.fot-detail h3{
	color: #000;
	font-size: 18px;
	font-family: 'CenturyGothic-Bold';
	text-transform: uppercase;
	margin-bottom: 23px;
}
.fot-detail ul li{
	color: #fff;
	font-family: 'CenturyGothic-Regular';
	line-height: 33px;
    font-size: 12px;
}
.fot-detail ul li a{
	color: #fff;
}
.bdr{
	border-right: 1px solid rgba(195, 195, 195, 0.37);
	min-height: 200px;
}
.fot-detail .fa{
	font-size: 34px;
}
.footer-bottom address {
	font-size: 12px;
    margin-top: 15px;
}
.footer-block ul li a:hover {
    color: #000;
}
.fot-detail ul li a:hover {
    color: #000;
}
.cart-header .list-inline > li {display: inline-flex;}
a:hover, a:focus {outline: none;}

@media (min-width: 320px) and (max-width: 767px){
	.logo img{
		text-align: center;
		margin: 0 auto;
	}
	.cart-header {
    text-align: center;}
    .menu {float: none;}
    .menu .navbar-default {
    background: rgb(109, 59, 162) none repeat scroll 0% 0%;}
    .menu .navbar-default .navbar-brand {
    color: #fff;}
    .menu .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    	color: #FFF;
    }
    .menu .navbar-default .navbar-nav > li > a {
    color: #fff;}
    .menu .navbar-default .navbar-nav > li > a:hover {
    color: #000;}
    .menu .navbar-nav {margin: 0;}
    .h-collection .list-inline {margin-left: 10px;}
    .h-collection .list-inline > li {padding-bottom: 5px;}
    .j-collection .carousel-control.left {margin-left: 36%;}
    .ring img{margin: 0 auto;}
    .ring{margin-bottom: 10px;}
    .footer-block .list-inline > li {display: block;}
    .footer-block ul li {border: none;line-height: 24px;text-align: center;}
    .top-link {text-align: center;}
    .bdr {min-height: auto;}
    .h-collection {
    margin: 0 auto;
    text-align: center;
}
    ul.flex-direction-nav {/*top: 103%;left: 10%;*/display: none;}
    .top-link img{text-align: center;margin: 0 auto;}
}
@media (min-width: 768px) and (max-width: 991px){
	.logo img{
		text-align: center;
		margin: 0 auto;
	}
	.menu .navbar-default .navbar-nav > li > a {font-size: 14px;}
	.menu .nav > li > a {padding: 10px 14px;}
	.menu {float: none;}
	.j-collection .carousel-control.right {margin-right: 41%;}
	.cart-header {text-align: center;}
	.h-collection .list-inline > li {padding-bottom: 5px;}
	.h-collection {
    margin: 0 auto;
    text-align: center;}
    .flex-caption {display: block;}
    .flex-caption h2 {font-size: 24px;}
    .flex-caption {top: 19%;}
    ul.flex-direction-nav {top: 92%;}
}
@media (min-width: 992px) and (max-width: 1199px){
	.menu .navbar-default .navbar-nav > li > a {font-size: 15px;}
	ul.flex-direction-nav {top: 92%;}
	.h-collection {
    margin: 0 auto;
    text-align: center;}
    .h-collection .list-inline > li {padding-bottom: 26px;}
    .h-collection .list-inline > li {
    padding-right: 26px
}